@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Permanent+Marker&family=Satisfy&display=swap');

html {
  background: linear-gradient(to bottom, black, black);
  /* background: black; */
}

body {
  color: #fff;
  text-align: center;
  font-family: 'Karla', sans-serif;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Satisfy', cursive;
}

img {
  border: 5px solid #2255ff;
  border-radius: 5px;
  box-shadow: 7px 15px 2px 10px #fafafa12;
}

a {
  color: green;
}

li {
  list-style-type: none;
}
